.hero-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

.hero-content {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.get-started-btn {
  padding: 10px 20px;
  font-size: 18px;
  color: white;
  background-color: teal;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.get-started-btn:hover {
  background-color: darkcyan;
}
